body {
    background-color: gray;
    color: white;
      margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

h1 {
    text-align: center;
    background-color: #465737;
    width: 500px;
}

h2{
    text-align: center;
    background-color: #465737;
    border-radius: 50px;
    width: 100%;
    
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    box-sizing: border-box;
}

.opcao {
    display: block;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
}

.conteiner { 
    display: flex;
    background-color: #465737;
    justify-content: center;
    border-radius: 30px;
    width: 1000px;
    margin-top: 40px;
     
}

.conteiner div {
    background-color: #465737;
    margin: 0%;
    padding: 0px;
    align-self: center;

}

.corpo {
    display: flex;
    background-color: gray;
    justify-content: center;
    width: 1000px;
    
}

.corpo div {
    background-color: #465737;
    margin:25px;
    padding: 5%;
    border-radius: 50px;
    width: 100%;
   
}

.imagemlogo {
    width: 150px;
    padding: 0px;
    border-radius: 15%;
}

.imagemtexto1 {
    width:300px;
    border-radius: 15%;
}

.form{
    display: flex;
    justify-content: center;
    
}

.form div{
    background-color: #465737;
    width: 500px;
    height: 600px;
    border-radius: 50px;
    padding-left: 10%;
}

.center{
   justify-content: center;
   display: flex;
   text-align: center;
}


.center2{
   left: 50%;
   display: flex;
   right: 50%;
}

.imagemtexto2 {
    width:300px;
    border-radius: 15%;
    transition: transform 0.3s ease;
}

.imagemtexto2:hover {
    transform: scale(1.1);
}
